{{ partial "header_notes.html" . }}

<div class="notes">
  <h1 class="notes-title">
    {{ .Title }}
  </h1>
  <div class="notes-content">
    {{ .Content }}
  </div>
  <div class="notes-links">
    {{ with .NextInSection }}
      <li>
        <a href="{{ .Permalink }}">
          <img alt="arrow-back" src="/img/arrow-back.svg" width="25" height="25">
        </a>
      </li>
    {{ end }}
    {{ with .PrevInSection }}
      <li>
        <a href="{{ .Permalink }}">
          <img alt="arrow-next" src="/img/arrow-next.svg" width="25" height="25">
        </a>
      </li>
    {{ end }}
  </div>
</div>

{{ partial "footer_notes.html" . }}
