<!-- Sidebar toggle represented as checkbox -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <h6>Notes</h6>
  </div>
  <nav class="sidebar-nav">
    {{ $url := .Permalink }}
    {{ $idx := 0 }}
    {{ range .Site.Home.Pages }}
    {{ if and (not (eq .Title "About")) (not (eq .Title "Blog")) }}
      {{ $idx = add $idx 1 }}
      <a class="sidebar-nav-item{{if eq $url .Permalink }} active{{end}}" href="{{ .Permalink }}" title="{{ .Title }}">
        {{ if gt $idx 0 }}<b>{{$idx}}</b>{{end}} {{ .Title }}
      </a>
      {{ range $subindex, $subelement := .Page.Pages }}
      {{ $subindex = add $subindex 1 }}
        <a class="sidebar-nav-subitem{{if eq $url .Permalink}} active{{end}}" href="{{ $subelement.Permalink }}" title="{{ $subelement.Title }}">
          <b>{{ $idx }}.{{ $subindex }}</b> {{ $subelement.Title }}
        </a>
    {{ end }}
    {{ end }}
    {{ end }}
  </nav>
</div>

<script>
function processAjaxData(response, urlPath){
     document.getElementById("content").innerHTML = response.html;
     document.title = response.pageTitle;
     window.history.pushState({"html":response.html,"pageTitle":response.pageTitle},"", urlPath);
 }
</script>
